@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap');

$background: #2E3035;
$soft-back: #474a51;
$grey: #CACACA;
$soft-text: #99B9C2;
$light-text: #8D929A;
$white-color: #FFFFFF;
$text: #1E1E1E;
$violet: #5B47F5;
$blue: #2C88D9;
$soft-green: rgb(93,184,112); 
$deep-blue: #181844;
$light-blue: rgb(211,230,247);
$post-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
$grad-background: linear-gradient(to bottom, $deep-blue 0%,$background 100%); 
$empty-back: linear-gradient(to top, rgb(93,184,112) 0%,rgb(140, 214, 156) 100%); 



$breakpoints: (
  'tiny': (min-width: 200px),
  'smaller': (min-width: 400px),
  'small': (min-width: 600px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);


